@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

::-webkit-scrollbar {
	width: 15px;
}
  
::-webkit-scrollbar-track {
	background-color: rgba(153, 153, 76, 1);
	border: 2px solid rgba(0, 0, 0, 1);	
}
  
::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 234, 1);
	border: 2px solid rgba(0, 0, 0, 1);
}
  
::-webkit-scrollbar-thumb:active {
	background-color: rgba(255, 255, 234, 0.7);
}

::selection {
	background-color: rgba(238, 238, 158, 1);
}

::-moz-selection {
	background-color: rgba(238, 238, 158, 1);
}

body {
	/* border: 4px double red; */
	background-color: rgba(118, 118, 118, 1);
	cursor: url('../media/cursor3.png'), auto;
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    /* overflow: hidden; */
    display: flex;
}

.acme-container {
	background-color: rgba(255, 255, 234, 1);
    cursor: inherit;
    border: 4px solid rgba(85, 170, 170, 1);
    font-family: inherit;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.acme-titlebar, .acme-menubar {
    cursor: inherit;
    border: solid rgba(0, 0, 0, 1);
}

.acme-titlebar__title, .acme-menubar__menu, .acme-editor__text-area {
    cursor: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 1%;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.acme-titlebar__title {
    background-color: rgba(234, 255, 255, 1);
    font-size: 40px;
}

.acme-menubar__menu {
    background-color: rgba(234, 255, 255, 1);
    font-size: 30px;
}

.acme-titlebar__title:focus, .acme-menubar__menu:focus, .acme-editor__text-area:focus {
    outline: none;
}

.acme-titlebar__title::selection, .acme-menubar__menu::selection {
	background-color: rgba(159, 239, 239, 1);
}

.acme-titlebar__title::-moz-selection, .acme-menubar__menu::-moz-selection {
	background-color: rgba(159, 239, 239, 1);
}

.acme-editor {
    flex: 1;
    cursor: inherit;
    border: solid rgba(0, 0, 0, 1);
}

.acme-editor__text-area {
    resize: none;
	background-color: rgba(255, 255, 234, 1);
    font-size: 30px;
}

.custom-cm {
	background-color: rgba(237, 254, 235, 1);
	border: solid rgba(140, 195, 135, 1);
	font-size: 23px;
    cursor: inherit;
    font-family: inherit;
	max-width: fit-content;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.custom-cm__item:hover {
	color: rgba(237, 254, 235, 1);
	background-color: rgba(73, 135, 70, 1);
}

.custom-alert {
    background-color: rgba(237, 254, 235, 1);
	border: solid rgba(140, 195, 135, 1);
	font-size: 25px;
    cursor: inherit;
    font-family: inherit;
	max-width: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1%;
	visibility: hidden;
}

.custom-alert__message {
    margin: auto;
}

.custom-alert__button-container {
    margin: auto;
    padding-top: 3%;
}

.custom-alert__button {
    background-color: rgba(136, 136, 204, 1);
	font-size: 25px;
    cursor: inherit;
    font-family: inherit;
}

.custom-alert__button:hover {
    background-color: rgba(136, 136, 204, 0.7);
}

.custom-alert__button:active {
    background-color: rgba(136, 136, 204, 1);
}
